.selected {
    text-decoration: underline;
    color: #646cff;
}

#my-source-notes-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-source-notes-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -3em;
    margin-left: 3em;
}

.my-source-notes-content-notes {
    width: 100%;
}

.my-source-notes-content-add-note-section {
    width: 100%;
}

.my-source-notes-content-add-note-section .new-note {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-source-notes-content-add-note-section textarea {
    width: 50%;
    height: 5vh;
    resize: none;
}

.my-source-notes-content-add-note-section .new-note-options {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.my-source-notes-content-add-note-section .new-note-options button {
    width: 100%;
    margin-bottom: 1em;
}

.my-source-notes-content-source {
    width: 100%;
    margin-top: -1em;
}

.my-source-notes-content-source iframe {
    width: 100%;
    height: 75vh;
    border: none;
}
.my-source-notes-container{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.notes-display {
    display: flex;
    justify-content: space-between;
}

.notes-display p, .notes-display li {
    transition: all 0.2s ease-in-out;
}

.note-display {
    width: 50%;
    min-width: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-display textarea {
    width: 75%;
    height: 10vh;
}

.note-tags-options {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}