.add-source-dialog {
    border: none;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
}

.add-source-dialog-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.add-source-dialog-heading {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-source-dialog-heading h2 {
    margin: 0;
    font-size: x-large;
}

.add-source-dialog input {
    margin-bottom: 1em;
}

.add-source-dialog-finish-row,
.add-source-dialog-linkable-row {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-source-dialog-finish-row input, 
.add-source-dialog-heading button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 5em;
}

.add-source-dialog-author-heading {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-source-dialog-author-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;
    height: 5em;
    overflow-y: scroll;
    border: solid 1px black;
}

.add-source-dialog-author-selector input {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all 0.2s;
    background: none;
}

.add-source-dialog-author-selector input:hover {
    color: #4a52df;
}

.add-source-dialog-author-selector input.selected {
    font-weight: bold;
    color: #646cff;
    text-decoration: underline;
}

.add-source-dialog-sourceType-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}