.authorize-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
}

.authorize-form-input {
    margin-bottom: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.password-requirement-label {
    text-align: center;
    font-size: 10px;
    flex-direction: column;
}